
<section id="home"> <!-- Inicio seção Home -->
  <div class="container">
      <div class="row">
          <div class="col-md-6 d-flex">
              <div class="align-self-center">
                  <h1 class="display-4">Suas contas descomplicadas!</h1>
                  <p>
                      Usado por mais de 1 milhão de pessoas, o Finans é uma
                      ferramenta online que vai facilitar sua vida financeira.
                  </p>

                  <form class="mt-4">
                      <div class="input-group input-group">
                          <input type="text" placeholder="Seu e-mail" class="form-control">
                          <div class="input-group-append">
                              <button type="button" class="btn btn-primary">Cadastre-se</button>       
                          </div>
                      </div>
                  </form>

                  <!-- <p>Disponível para
                      <a href="" class="btn btn-outline-light">
                          <i class="fas fa-robot fa-lg"></i>
                      </a>
                      <a href="" class="btn btn-outline-light">
                          <i class="fab fa-apple fa-lg"></i>
                      </a>
                  </p> -->
              </div>
          </div>
          <!-- d-none d-md-block   quando a tela fica >= md a imagem é mostrada-->
          <div class="col-md-6 d-none d-md-block">
              <img src="../../assets/img/capa-mulher.png">
          </div>
      </div>
      
  </div>
</section><!-- Fim seção Home -->

<section class="caixa"><!-- Inicio seção saiba -->
  <div class="container">
      <div class="row">
          <div class="col-md-6 d-flex">
              <div class="align-self-center">
                  <h2>Saiba para onde vai o seu dinheiro</h2>
                  <p>
                      Com o Finans, você categoriza todos os seus lançamentos.
                      Com gráficos simples, você sabe de onde vem e para onde vai
                      o seu dinheiro.
                  </p>
                  <a href="#" class="btn btn-primary">Veja mais</a>
              </div>
          </div>
              <div class="col-md-6">
                  <!-- A boa prática do bootstrap é criar imagens grandes para aplicar a classe img
                  fluid. Com isso, atenderá os quesitos de responsividade -->
                  <img src="../../assets/img/saiba.png" class="img-fluid">
              </div>
      </div>
  </div>            

</section><!-- Fim seção mais -->

<section class="caixa"><!-- Inicio seção juros -->
  <div class="container">
      <div class="row">
          <div class="col-md-6">
                  <!-- A boa prática do bootstrap é criar imagens grandes para aplicar a classe img
                  fluid. Com isso, atenderá os quesitos de responsividade -->
                  <img src="../../assets/img/juros.png" class="img-fluid">
              </div>
          <div class="col-md-6 d-flex">
              <div class="align-self-center">
                  <h2>Pare de pagar juros e economize</h2>
                  <p>
                      Manter as contas em dia é sempre um problema? O Finans
                      avisa você: recebe alertas de contas a pagar e a receber!
                  </p>
                  <a href="#" class="btn btn-primary">Veja mais</a>
              </div>
          </div>
      </div>
  </div>            

</section><!-- Fim seção juros -->

<section class="caixa"><!-- Inicio seção recursos -->
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <img src="../../assets/img/facil.png" class="img-fluid">
              <h4>Fácil de Usar</h4>
              <p>
                  O Finans vai além do básico e permite que você faça controles
                  incríveis, essenciais para suas finanças. Simples como tem que ser!
              </p>
          </div>
          <div class="col-md-4">
              <img src="../../assets/img/economize.png" class="img-fluid">
              <h4>Suporte Amigo</h4>
              <p>
                  Dúvidas? Perguntas? Nosso suporte super legal ajuda você! A
                  gente tá aqui pra resolver seus problemas e deixar sua vida
                  bem mais fácil!
              </p>
          </div>
          <div class="col-md-4">
              <img src="../../assets/img/suporte.png" class="img-fluid">
              <h4>Fácil de Usar</h4>
              <p>
                  O Finans vai além do básico e permite que você faça controles
                  incríveis, essenciais para suas finanças. Simples como tem que ser!
              </p>
          </div>
          
      </div>
  </div>            

</section><!-- Fim seção recursos -->

