<footer class="mt-4 mb-4">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <p>
                  <a href="">Home</a>
                  <a href="">Recursos</a>
                  <a href="">Benefícios</a>
                  <a href="">Preços</a>
              </p>
          </div>
          <div class="col-md-4 d-flex justify-content-end">
              <a href="" class="text-secondary ml-2">
              <i class="fab fa-facebook fa-lg" style="color:#3db0f7"></i>
              </a>
              <a href="" class="text-secondary ml-2">
              <i class="fab fa-twitter fa-lg" style="color:#79d1ff"></i>
              </a>
              <a href="" class="text-secondary ml-2">
              <i class="fab fa-instagram fa-lg" style="color: pink"></i>
              </a>
              <a href="" class="text-secondary ml-2">
              <i class="fab fa-youtube fa-lg" style="color: red"></i>
              </a>
          </div>
      </div>
  </div>
</footer>
