<section> <!-- Inicio seção benefits -->
    <div class="container benefits">
        <div class="row">
            <div class="">
                <p>
                    exemplo beneficio
                </p>
                <p>
                    exemplo beneficio
                </p>
                <p>
                    exemplo beneficio
                </p>
                <p>
                    exemplo beneficio
                </p>
               
            </div>
        </div>
    </div>
</section>
