<!-- Inicio cabeçalho -->
<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-warning">
      <div class="container">
          <a href="#" class="navbar-brand">
              <img src="../../assets/img/logo.png" width="142">
          </a>

          <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
              <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Referenciando o id acima, para quando houver a redução de tela aparecer o hamburguer
              e ao clicar aparecer os links -->
          <div class="collapse navbar-collapse" id="nav-principal" style="margin-left:50%;">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a href="#" class="nav-link">Home</a>  
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">Recursos</a>  
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">Beneficios</a>  
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">Preços</a>  
                  </li>
                  <li class="nav-item ml-4">
                      <a href="#" class="btn btn-outline-light ml-auto" style="margin-left:20px;">
                          Entrar</a>  
                  </li>
              </ul>
              
          </div>
          
      </div>
  </nav>
</header><!-- Fim cabeçalho -->
