#header{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar-nav{
    width: 100%;
    color: beige;

    display: flex;

    justify-content:flex-start;
}

.nav-item{
    font-size:x-large;
    
}
.navbar-light .navbar-nav .nav-link{
    color: white;  
    
}
.btn-item-menu{
    display: flex;
    align-items:center;
    justify-content:flex-end;
}