<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Finans - Finanças Pessoais</title>
  </head>
    <body>
        <!-- Inicio cabeçalho -->
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-warning">
                <div class="container">
                    <a href="#" class="navbar-brand">
                        <img src="../../assets/img/logo.png" width="142">
                    </a>

                    <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Referenciando o id acima, para quando houver a redução de tela aparecer o hamburguer
                        e ao clicar aparecer os links -->
                    <div class="collapse navbar-collapse" id="nav-principal" style="margin-left:50%;">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Home</a>  
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Recursos</a>  
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Beneficios</a>  
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Preços</a>  
                            </li>
                            <li class="nav-item ml-4">
                                <a href="#" class="btn btn-outline-light ml-auto" style="margin-left:20px;">
                                    Entrar</a>  
                            </li>
                        </ul>
                        
                    </div>
                    
                </div>
            </nav>
        </header><!-- Fim cabeçalho -->

        <section id="home"> <!-- Inicio seção Home -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div class="align-self-center">
                            <h1 class="display-4">Suas contas descomplicadas!</h1>
                            <p>
                                Usado por mais de 1 milhão de pessoas, o Finans é uma
                                ferramenta online que vai facilitar sua vida financeira.
                            </p>

                            <form class="mt-4">
                                <div class="input-group input-group">
                                    <input type="text" placeholder="Seu e-mail" class="form-control">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary">Cadastre-se</button>       
                                    </div>
                                </div>
                            </form>

                            <p>Disponível para
                                <a href="" class="btn btn-outline-light">
                                    <i class="fas fa-robot fa-lg"></i>
                                </a>
                                <a href="" class="btn btn-outline-light">
                                    <i class="fab fa-apple fa-lg"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- d-none d-md-block   quando a tela fica >= md a imagem é mostrada-->
                    <div class="col-md-6 d-none d-md-block">
                        <img src="../../assets/img/capa-mulher.png">
                    </div>
                </div>
                
            </div>
        </section><!-- Fim seção Home -->

        <section class="caixa"><!-- Inicio seção saiba -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div class="align-self-center">
                            <h2>Saiba para onde vai o seu dinheiro</h2>
                            <p>
                                Com o Finans, você categoriza todos os seus lançamentos.
                                Com gráficos simples, você sabe de onde vem e para onde vai
                                o seu dinheiro.
                            </p>
                            <a href="#" class="btn btn-primary">Veja mais</a>
                        </div>
                    </div>
                        <div class="col-md-6">
                            <!-- A boa prática do bootstrap é criar imagens grandes para aplicar a classe img
                            fluid. Com isso, atenderá os quesitos de responsividade -->
                            <img src="../../assets/img/saiba.png" class="img-fluid">
                        </div>
                </div>
            </div>            

        </section><!-- Fim seção mais -->

        <section class="caixa"><!-- Inicio seção juros -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                            <!-- A boa prática do bootstrap é criar imagens grandes para aplicar a classe img
                            fluid. Com isso, atenderá os quesitos de responsividade -->
                            <img src="../../assets/img/juros.png" class="img-fluid">
                        </div>
                    <div class="col-md-6 d-flex">
                        <div class="align-self-center">
                            <h2>Pare de pagar juros e economize</h2>
                            <p>
                                Manter as contas em dia é sempre um problema? O Finans
                                avisa você: recebe alertas de contas a pagar e a receber!
                            </p>
                            <a href="#" class="btn btn-primary">Veja mais</a>
                        </div>
                    </div>
                </div>
            </div>            

        </section><!-- Fim seção juros -->

        <section class="caixa"><!-- Inicio seção recursos -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../../assets/img/facil.png" class="img-fluid">
                        <h4>Fácil de Usar</h4>
                        <p>
                            O Finans vai além do básico e permite que você faça controles
                            incríveis, essenciais para suas finanças. Simples como tem que ser!
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="../../assets/img/economize.png" class="img-fluid">
                        <h4>Suporte Amigo</h4>
                        <p>
                            Dúvidas? Perguntas? Nosso suporte super legal ajuda você! A
                            gente tá aqui pra resolver seus problemas e deixar sua vida
                            bem mais fácil!
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="../../assets/img/suporte.png" class="img-fluid">
                        <h4>Fácil de Usar</h4>
                        <p>
                            O Finans vai além do básico e permite que você faça controles
                            incríveis, essenciais para suas finanças. Simples como tem que ser!
                        </p>
                    </div>
                    
                </div>
            </div>            

        </section><!-- Fim seção recursos -->

        <footer class="mt-4 mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            <a href="">Home</a>
                            <a href="">Recursos</a>
                            <a href="">Benefícios</a>
                            <a href="">Preços</a>
                        </p>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        <a href="" class="text-secondary ml-2">
                        <i class="fab fa-facebook fa-lg" style="color:#3db0f7"></i>
                        </a>
                        <a href="" class="text-secondary ml-2">
                        <i class="fab fa-twitter fa-lg" style="color:#79d1ff"></i>
                        </a>
                        <a href="" class="text-secondary ml-2">
                        <i class="fab fa-instagram fa-lg" style="color: pink"></i>
                        </a>
                        <a href="" class="text-secondary ml-2">
                        <i class="fab fa-youtube fa-lg" style="color: red"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
  </body>
</html>
